body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.card {
  width: 600px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  overflow: visible;
  position: relative;
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

.card-content {
  padding: 20px;
  text-align: left;
  animation: slideIn 1s ease-in-out;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: -125px;
  position: relative;
  z-index: 2;
  border: 5px solid #4285f4;
  animation: scaleUp 1s ease-in-out;
}

.edit-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

h2, p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    animation: flash 1s ease-in-out;
    animation-fill-mode: forwards;
    transition: color 0.5s ease-in-out;
}

h2:hover, p:hover {
  animation: flash 1s ease-in-out;
}

h2 span, p span {
  animation: flash 5s ease-in-out;
}

h2 {
    text-transform: uppercase;
}

@keyframes flash {
  0%   { color: rgb(0, 60, 255); }
  25%  { color: rgb(197, 0, 0);}
  50% { color: rgb(197, 0, 154);}
  100% { color: rgb(0, 182, 76);  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

